{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Connexion{% endblock %}

{% block body %}
    <form method="post" class="w-50 mx-auto bg-white p-5">
        <h1 class="h3 font-weight-normal mb-4">Connexion</h1>

        {% if error %}
            <p class="text-danger">{{ error }}</p>
        {% endif %}

        {% for message in app.flashes('success') %}
            <p class="text-success">{{ message }}</p>
        {% endfor %}

        <label for="inputEmail">E-mail</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control {% if error %}is-invalid{% endif %}" required autofocus>

        <label for="inputPassword" class="mt-4">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control {% if error %}is-invalid{% endif %}" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="btn btn-primary mt-4" type="submit">Se connecter</button>

        <hr>
        <div class="text-right">
            <span>Pas encore inscrit ?</span>
            <a href="{{ path('customer_create') }}">Inscription</a>
        </div>
    </form>
{% endblock %}
