{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Mon compte{% endblock %}

{% block stylesheets %}
    <style>
        footer{
            position: static !important;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="w-75 mx-auto jumbotron bg-white">
        <h1 class="mb-5 text-center">Mes informations personnelles</h1>

        {% for message in app.flashes('success') %}
            <p class="text-success">{{ message }}</p>
        {% endfor %}

        <table class="table table-active">
            <tbody>
                <tr>
                    <th>Prénom</th>
                    <td>{{ customer.firstName }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ customer.lastName }}</td>
                </tr>
                <tr>
                    <th>Téléphone</th>
                    <td>{{ customer.phone }}</td>
                </tr>
                <tr>
                    <th>E-mail</th>
                    <td>{{ customer.email }}</td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <td>{{ customer.address }}</td>
                </tr>
                <tr>
                    <th>Code postal</th>
                    <td>{{ customer.zipcode }}</td>
                </tr>
                <tr>
                    <th>Ville</th>
                    <td>{{ customer.city }}</td>
                </tr>
            </tbody>
        </table>

        <a class="btn btn-primary mt-5" href="{{ path('customer_update', {'id': customer.id}) }}">
            <em class="far fa-edit"></em> Modifier mes informations
        </a>
        <a class="btn btn-secondary mt-5" href="{{ path('customer_update_pwd', {'id': customer.id}) }}">
            <em class="far fa-edit"></em> Modifier mon mot de passe
        </a>

        <hr class="my-5">

        {{ include('customer/_delete_form.html.twig') }}
    </div>
{% endblock %}
