{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}


    <link href="{{ asset('css/dashboard.css') }}" rel="stylesheet">

    <h1 class="chewbacca">Today's Chewbacca</h1>

    <div class = "main">
        <div id="calendar-holder"></div>
        <div class="left">

            <div class="cards">
                <div class="card border-primary mb-3" style="max-width: 30rem;">
                    <div class="card-header">
                        <i class="fas fa-calendar-day"> </i>
                         RDVs d'aujourd'hui
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            {% for ta in todayAppointments %}
                                {{ ta }}
                            {% endfor %}
                        </h4>

                    </div>
                </div>

                <div class="card border-primary mb-3" style="max-width: 30rem;">
                    <div class="card-header">
                        <i class="fas fa-calendar-day"> </i>
                        RDVs de cette semaine
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            {% for ta in thisWeekAppointments %}
                                {{ ta }}
                            {% endfor %}
                        </h4>
                    </div>
                </div>

                <div class="card border-primary mb-3" style="max-width: 30rem;">
                    <div class="card-header">
                        <i class="fas fa-calendar-day"> </i>
                        Nombre de barbiers

                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            {{ barbers }}
                        </h4>
                </div>
            </div>

                <div class="card border-primary mb-3" style="max-width: 30rem;">
                    <div class="card-header">
                        <i class="fas fa-calendar-week"> </i>
                        Nombre de services
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            {{ services }}
                        </h4>

                    </div>
                </div>
            </div>
        </div>


        <div class="right">

            <div class="card mb-3">
                <h3 class="card-header">RDVs</h3>
                <div class="card-body">
                    <h5 class="card-title">RDVs d'aujourd'hui</h5>
                    <h6 class="card-subtitle text-muted">{{ now }}</h6>
                </div>


                <div id="div_chart" ></div>
                    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                    <script type="text/javascript">
                        {{ gc_draw(chartToday, 'div_chart') }}
                    </script>

                <div class="card-body">
                    <p class="card-text"><b>Liste de RDVs d'aujourd'hui</b></p>
                </div>

                <div class = "table_wrapper">
                    <table class="table">

                        <thead class="table-head">
                            <tr>
                                <th scope="col">Heure </th>
                                <th scope="col">Barbier </th>
                                <th scope="col">Service </th>
                            </tr>
                        </thead>

                        <tbody class = "table-body">
                            {% for ap in todayList %}
                                <tr>
                                    <td>{{ ap.start_time|date('H:i')}}</td>
                                    <td>{{ ap.first_name }} </td>
                                    <td>{{ ap.title }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="card-body">
                    <a href="#" class="card-link">Calendrier</a>
                </div>

            </div>

            <div class="card">
                <div class="card-body2">
                    <h4 class="card-title">RDVs de cette semaine</h4>
                        <div id="div_chart2"></div>
                            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                            <script type="text/javascript">
                                    {{ gc_draw(chart, 'div_chart2') }}
                            </script>

                </div>
                <a href="#" class="card-link2">Calendrier</a>
            </div>
        </div>

    </div>

{% endblock %}

